#a {
  width: 100px;
  height: 100px;
  background-color: bisque;
  position: relative;
  top: 50%;
  left: 25%;
}
#b {
  width: 50px;
  height: 50px;
  background-color: aquamarine;
  position: absolute;
  bottom: 25%;
  left: 25%;
}
