#box {
  width: 250px;
  height: 250px;
  background-color: rgb(76, 76, 234);
  font-size: 13em;
  text-align: center;
  animation-name: slideleft;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-direction: alternate-reverse;
}
@keyframes slideleft {
  from {
    transform: translateX(100%);
  }
}
@keyframes slideright {
  to {
    transform: translateX(100%);
  }
}
@keyframes slideup {
  from {
    transform: translateY(100%);
  }
}
@keyframes slidedown {
  to {
    transform: translateY(100%);
  }
}
@keyframes rotate {
  50% {
    transform: rotateX(360deg);
  }
}
@keyframes grow {
  50% {
    transform: scale(2, 2);
  }
}
@keyframes shrink {
  50% {
    transform: scale(0.5, 0.5);
  }
}
@keyframes fade {
  50% {
    opacity: 0;
  }
}
@keyframes colorchange {
  0% {
    background-color: rgb(76, 76, 234);
  }
  20% {
    background-color: rgb(110, 52, 152);
  }
  40% {
    background-color: rgb(186, 58, 198);
  }
  60% {
    background-color: rgb(189, 58, 128);
  }
  80% {
    background-color: rgb(234, 76, 113);
  }
  100% {
    background-color: rgb(201, 56, 63);
  }
}
@keyframes glow {
  50% {
    box-shadow: 0px 0px 50px rgb(0, 225, 255);
  }
}
