@font-face {
  font-family: variable;
  src: url(Oswald/Oswald-VariableFont_wght.ttf);
}
@font-face {
  font-family: Regular;
  src: url(Libertinus_Sans/LibertinusSans-Regular.ttf);
}
h2 {
  font-family: Regular;
  font-size: 3em;
  color: blue;
  text-transform: uppercase;
}
p {
  font-family: variable;
  font-size: 2em;
  color: red;
  text-transform: capitalize;
}
