#page1 {
  text-align: center;
}
#lorem1 {
  text-align: center;
}
.pagination {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.pagination a {
  color: black;
  text-decoration: none;
  padding: 8px 15px;
  display: inline-block;
}
.pagination a.active {
  background-color: rgb(151, 231, 151);
  font-weight: bold;
  border-radius: 10px;
}
.pagination a:hover:not(.active) {
  background-color: rgb(177, 162, 162);
  font-weight: bold;
  border-radius: 10px;
}
