.box {
  border: 5px solid;
  font-size: 5em;
  width: 250px;
  height: 250px;
}
#box1 {
  background-color: red;
  margin-left: 30px;
  margin-top: 20px;
}
#box2 {
  background-color: blue;
  margin-bottom: 30px;
  margin-top: 20px;
  margin-left: 60px;
}
